# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# Logs
logs/
*.log

# Generated data
data/raw/*
data/bronze/*
data/silver/*
data/gold/*

# Spark
spark-warehouse/
metastore_db/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Spark streaming checkpoints
checkpoints/

# JDBC driver
*.jar